@{
    ViewData["Title"] = "Home Page";
}


<h2>Messages from SignalR is shown below</h2>


<div id="messages">

</div>

<script src="~/lib/signalr-client/signalr-clientES5-1.0.0-alpha2-final.min.js"></script>
<script>


    let logger = new signalR.ConsoleLogger(signalR.LogLevel.Information);
    let connection = new signalR.HubConnection('MainHub', { transport: signalR.TransportType.WebSockets, logger: logger });

    

    connection.on('Broadcast', x => {
        $("#messages").append($("<div>" + x.messageString + "</div>"));
    });

    connection.start();

</script>